/* GLOBAL RESETS */
* {
  box-sizing: border-box;
}

/*

TABLE OF CONTENTS

# GLOBAL RESETS 
# BASE TYPOGRAPHY
# BUTTONS
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER

*/
/* BASE TEXT COLORS */
body {
  color: rgba(0, 0, 0, 0.8);
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  color: black;
}

/* BASE TEXT FONTS */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
}

/* BASE TYPOGRAPHY */
body {
  font-size: 100%;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 0.5em 0;
}

/* TYPOGRAPHIC SCALES*/
h1 {
  font-size: 3em;
  line-height: 1;
}
h1.ticket-header {
  font-size: 12em;
  margin: 0 0 0.1em 0;
}
h1.ticket-block {
  color: white;
  margin-bottom: 0;
}
h1.schedule-header {
  font-size: 10em;
  font-size: 10vw;
  line-height: 0.7;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1;
}
h2.ticket-header {
  font-size: 5em;
}
h2.roster-content-title {
  color: #f0f0f0;
  margin: 0;
}

h3 {
  font-size: 1.5em;
  line-height: 1.2;
}
h3.news-content-title {
  color: #f0f0f0;
  margin: 0 0 1em 0;
}
h3.roster-content-title {
  color: #f0f0f0;
  margin: 0;
}

h4.roster-content-accent {
  font-size: 1em;
  color: #ff5722;
  margin: 0;
  margin-bottom: 2em;
}

.news-content {
  margin: auto;
  padding: 17em 5em;
  max-width: 75%;
  color: #f0f0f0;
}

.hero-text span {
  display: inline-block;
  color: white;
}
.hero-text :nth-child(1) {
  display: block;
  font-size: 2em;
  line-height: 2em;
}
.hero-text :nth-child(2) {
  font-size: 1em;
  display: block;
}
.hero-text :nth-child(3) {
  color: white;
  display: inline-block;
}
.hero-text :nth-child(4) {
  font-size: 1.5em;
  padding-bottom: 1em;
  display: inline-block;
}
.hero-text :nth-child(5) {
  font-size: 1em;
  display: block;
}
.hero-text :nth-child(6) {
  font-size: 1em;
  display: inline-block;
}

.ticket-header span {
  display: inline-block;
}
.ticket-header :nth-child(1) {
  font-size: 2em;
  display: block;
  color: black;
  margin-left: 2em;
}
.ticket-header :nth-child(2) {
  font-size: 2em;
  color: black;
  margin-left: 2em;
}
.ticket-header :nth-child(3) {
  color: #06bcd4;
}

.roster-content {
  margin: 14em 0 0 5em;
  max-width: 35%;
  color: #f0f0f0;
}
.roster-content span {
  display: block;
  margin-bottom: 2em;
}

.schedule-header span {
  display: inline-block;
}
.schedule-header :nth-child(1) {
  font-size: 2em;
  color: black;
}
.schedule-header :nth-child(2) {
  font-size: 1em;
  color: black;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
  max-width: 40em;
}
p.footer {
  color: white;
}

/* LINKS */
a {
  color: #ff5722;
}
a:hover {
  color: rgba(61, 0, 0, 0);
}

/* HORIZONTAL LINE */
hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 3em 0;
}

/* TYPE SPECIMEN */
.headline {
  font-size: 4em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  color: #06bcd4;
}

.subheadline {
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.5);
  margin: 0.25em 0;
}

/* SECTION HEADING */
.section-heading {
  font-size: 1em;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 3em 0 3em 0;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: #ff5722;
  color: white;
  text-decoration: none;
  padding: 1em;
  border-radius: 6px;
  margin: 1em 0.5em 1em 0;
}
.button:hover {
  color: white;
  background-color: rgba(61, 0, 0, 0);
}

.hero-button {
  color: #ff5722;
  font-size: 3em;
  display: inline-block;
  margin: 0 0.2em;
  text-decoration: none;
  border-bottom: 5px solid rgba(255, 255, 255, 0);
}
.hero-button:hover {
  border-bottom-color: #ff5722;
  color: #ff5722;
}

.jumbo-button {
  background-color: black;
  color: white;
  font-size: 3em;
  text-decoration: none;
  display: inline-block;
  padding: 8em 0 0 1em;
  width: 100%;
  height: 100%;
}
.jumbo-button:hover {
  background-color: #bebebe;
  color: white;
}

.news-button {
  display: inline-block;
  align-items: center;
  opacity: 0.5;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 1em;
  border-radius: 6px;
  margin: 3em 0.5em 1em 0;
}
.news-button:hover {
  color: black;
  opacity: 1;
  background-color: white;
}

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1em;
}

/* MEDIA QUERIES */
/* RESPONSIVE TYPOGRAPHY */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
}
@media (min-width: 1250px) {
  body {
    font-size: 112.5%;
  }
}
/* SEMANTIC GRID */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1%;
  margin-right: -1%;
  align-items: center;
  margin-bottom: 3em;
}
.row > * {
  margin: 1%;
  flex-grow: 1;
}
.row.centered {
  justify-content: center;
}
.row.swapped {
  flex-direction: row-reverse;
}
.row.stacked {
  flex-direction: column;
}
.row.align-top {
  align-items: flex-start;
}
.row.align-bottom {
  align-items: flex-end;
}
.row.thin-margin {
  margin-left: -0.1%;
  margin-right: -0.1%;
  margin-bottom: 0.1%;
}
.row.thin-margin > * {
  margin: 0.1%;
}
@media (min-width: 768px) {
  .row.thin-margin .one-third {
    width: 33.1333%;
  }
  .row.thin-margin .two-thirds {
    width: 66.46%;
  }
}
.row.no-margin {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.row.no-margin > * {
  margin: 0;
}
@media (min-width: 768px) {
  .row.no-margin .one-third {
    width: 33.3333%;
  }
  .row.no-margin .two-thirds {
    width: 66.66%;
  }
}
@media (min-width: 768px) {
  .row > * {
    flex-grow: 0;
  }
  .row .one-whole {
    width: 98%;
  }
  .row .one-half {
    width: 48%;
  }
  .row .one-third {
    width: 31.333%;
    display: flex;
  }
  .row .two-thirds {
    width: 64.666%;
  }
  .row .one-fourth {
    width: 23%;
  }
  .row .three-fourths {
    width: 73%;
  }
  .row .push-one-fourth {
    margin-left: 26%;
  }
  .row .push-one-third {
    margin-left: 34.333%;
  }
  .row .push-one-half {
    margin-left: 51%;
  }
  .row .centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.demo {
  box-shadow: inset 0 0 0 1px red;
}
.demo .row {
  background-color: rgba(255, 0, 0, 0.1);
  margin-bottom: 0;
}
.demo .row > * {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;
  box-shadow: inset 0 0 0 1px green;
}

/* SITE STRUCTURE */
.site-header {
  position: absolute;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: left;
}
.site-header a {
  color: white;
  text-decoration: none;
}
.site-header h1 {
  font-size: 1.5em;
  margin: 0;
}
.site-header .site-id {
  align-items: center;
}
.site-header .logo {
  max-width: 180px;
  margin-left: 1.5em;
  margin-top: 2em;
}

/* SITE-FOOTER */
.site-footer {
  background-color: black;
  display: flex;
  padding: 1em;
  justify-content: center;
}
.site-footer a {
  color: white;
  text-decoration: none;
}

section {
  padding: 4em 0;
  min-height: 100vh;
  display: grid;
  align-items: center;
}

/* HERO SECTION */
.hero {
  background: black;
  text-align: left;
  padding: 0;
  color: white;
  min-height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
}
.hero .image-wrapper {
  width: 50%;
  height: 100vh;
  text-align: right;
}
.hero .image-wrapper img {
  display: inline-block;
  object-fit: cover;
  height: 100%;
}
.hero .text-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}
.hero h1, .hero h2 {
  margin-bottom: 0.25em;
  color: white;
}
.hero p {
  margin: 1em auto;
}

/*NEWS*/
#news {
  padding: 0;
}

.news img {
  object-fit: cover;
}

/*TICKET*/
#ticket {
  padding: 0;
}

/*HISTORY*/
#history {
  background-color: #283847;
  color: white;
  padding-bottom: 0;
}
#history .container {
  max-width: 1300px;
}
#history h3 {
  color: white;
  text-transform: lowercase;
  font-size: 3vw;
}
#history h3 span {
  color: #06BCD4;
  text-transform: uppercase;
  font-size: 10vw;
}
#history img {
  display: inline-block;
  padding: 16em 0 0 0;
}

/*TEAM*/
#team {
  padding: 0;
}

/*SCHEDULE*/
#schedule .container {
  padding-bottom: 0;
  margin-bottom: 0;
}

.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* SITE-HEADER SITE-NAV */
.site-header .site-nav ul {
  margin: 0;
  padding: 6em;
  list-style: none;
  top: 0;
  height: 100vh;
  display: flex;
}
.site-header .site-nav li {
  margin: 0 3em;
}
.site-header .site-nav a {
  display: inline-block;
  padding: 0 0 10px 0;
}
.site-header .site-nav a:hover {
  border-bottom: 4px solid #ff5722;
}

/* FOOTER SITE-NAV */
.site-footer .site-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer .site-nav a {
  display: inline-block;
  padding: 1em;
  line-height: 1;
}

.hover-block {
  position: relative;
  overflow: hidden;
}
.hover-block .hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 29, 26, 0.5);
  transform: translate(100%, 0);
  transition: all 0.4s ease-out;
}
.hover-block .hover-content.from-bottom {
  transform: translate(0, 100%);
}
.hover-block .hover-content.from-right {
  transform: translate(100%, 0);
}
.hover-block .hover-content.from-left {
  transform: translate(-100%, 0);
}
.hover-block:hover .hover-content {
  transform: translate(0, 0);
}

.hover-block-roster {
  position: relative;
  overflow: hidden;
}
.hover-block-roster .hover-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hover-block-roster:hover .hover-content {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.side-scroller {
  background: black;
  padding: 18px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  list-style: none;
}
.side-scroller .item {
  background: white;
  min-width: 200px;
  min-height: 200px;
  padding: 0;
  margin: 10px;
}