/* BUTTONS */

.button {
    display: inline-block;
    background-color: $color-link;
    color: white;
    text-decoration: none;
    padding: 1em;
    border-radius: 6px;
    margin: 1em .5em 1em 0;

    &:hover {
        color: white;
        background-color: $color-link-darker;
    }
    
}

.hero-button {
    color: $color-link;
    font-size: 3em;
    display: inline-block;
    margin: 0 .2em;
    text-decoration: none;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    &:hover {
        border-bottom-color: $color-link;
        color: $color-link;
    }
}

.jumbo-button {
    background-color: black;
    color: white;
    font-size: 3em;
    text-decoration: none;
    display: inline-block;
    padding: 8em 0 0 1em;
    width: 100%;
    height: 100%;
    &:hover {
        background-color: rgba(190, 190, 190, 1);
        color: white;
    }
}
