/* BUTTONS */

.button {
    display: inline-block;
    background-color: $color-link;
    color: white;
    text-decoration: none;
    padding: 1em;
    border-radius: 6px;
    margin: 1em .5em 1em 0;

    &:hover {
        color: white;
        background-color: $color-link-darker;
    }
    
}

.hero-button {
    color: $color-link;
    font-size: 3em;
    display: inline-block;
    margin: 0 .2em;
    text-decoration: none;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    &:hover {
        border-bottom-color: rgba(255, 255, 255, 1);
        color: $color-link;
    }
}

// transition: all 0s linear;